@layer palettes {
  .jm-palette--inverse {
    --jm-background-color: var(--jm-color-brand-900);
    --jm-heading-color: var(--jm-color-accent-500);
    --jm-text-color: var(--jm-color-base-100);
  }
}
