@layer palettes {

	.jm-palette--secondary {
		--jm-background-color: var(--jm-color-accent-100);
		--jm-heading-color: var(--jm-color-brand-900);
		--jm-text-color: var(--jm-color-base-700);
		--jm-text-highlight: var(--jm-color-accent-600);

		// Primary buttons
		--jm-button-background: var(--jm-color-brand-700);
		--jm-button-color: var(--jm-color-base-50);
		--jm-button-hover-background: var(--jm-color-brand-900);
		--jm-button-hover-color: var(--jm-color-base-50);

		// Secondary buttons
		--jm-button-secondary-background: transparent;
		--jm-button-secondary-color: var(--jm-color-brand-700);
		--jm-button-secondary-hover-background: var(--jm-color-brand-700);
		--jm-button-secondary-hover-color: var(--jm-color-base-50);
	}
}
