@use "../../../scss/base/typography" as *;
@use "../../../scss/layers/index.scss" as *;

@layer blocks {

	.jmc-paragraph {

		&:not(:last-child) {
			padding-bottom: var(--jmc-section-padding-sm);
		}
		max-width: 50ch;
	}

	.jmc-label,
	.jmc-label > p {

		@include h5;
		color: var(--jmc-text-highlight);
		text-transform: uppercase;

		&:not(:last-of-type) {
			padding-bottom: var(--jmc-padding-2xs);
		}
	}
}
