@use "../../../scss/base/typography" as *;
@use "../../../scss/layers/index.scss" as *;

@layer blocks {
  p {
    &.jm-label {
      @include h5;
      color: var(--jm-text-highlight);
      text-transform: uppercase;

      &:not(:last-of-type) {
        padding-bottom: var(--jm-padding-2xs);
      }
    }
  }
}
