@use "../../scss/abstracts/index" as *;

.jm-text-with-image {
  @include jm_button();
  --jm-text-image-padding: var(--jm-spacing-6);
  --jm-text-image-gap: var(--jm-spacing-6);
  --jm-text-image-cols: 1;

  &__container {
    display: grid;
    justify-items: center;
    max-width: var(--jm-container-md);

    grid-template-columns: repeat(var(--jm-text-image-cols), 1fr);
    padding: var(--jm-text-image-padding);
    gap: var(--jm-text-image-gap);
  }

  &__text {
    display: flex;
    flex-direction: column;
  }

  &__image {
    border-radius: var(--jm-radius-md);
  }

  @include min($mobile) {
    --jm-text-image-cols: 2;
  }
}
